apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: atlasbank
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: atlasbank/gateway:latest
          ports:
            - containerPort: 8080
          env:
            - name: Jwt__Secret
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: jwt-secret
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: atlasbank
spec:
  selector:
    app: api-gateway
  ports:
    - port: 80
      targetPort: 8080
  type: LoadBalancer
